.footer_main {
  margin-top: 50px;
  background-color: #a64200;
  width: 100%;
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  max-height: fit-content;
}

.left {
  padding: 10px 5px;
}

.rigth {
  padding: 10px 5px;
}

.left_pic {
  width: 400px;
  z-index: 1;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(2px 12px 5px #000);
  transform: rotate(18deg);
}
